body{
  background-color: #282c34;
}

.App {
  text-align: center;
}


.animes-list{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 1.5rem;
  color: aliceblue;

}

.animes-list li{
  display: flex;
  flex-direction: column;
}

.animes-list img{
  width: 20vw;
  margin: auto;
  border: solid 2px #5188f6;
}