body {
  background: linear-gradient(3deg, rgba(195, 34, 159, 1) 0%, rgba(253, 195, 45, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgb(20, 20, 20);
  color: aliceblue;
  width: 100%;
}

input {
  padding: 1em;
  text-align: center;
  max-height: 2em;
  width: 30%;
  border: 2px solid #e6eaf3;
  background-color: rgb(20, 20, 20);
  color: aliceblue;
  font-weight: bolder;
}

input:focus {
  outline: none;
}


.animes-list {
  display: flex;
  padding: 3em;
  margin-left: 5%;
}

.title {
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 30vw;
  text-align: left;
  border: 2px solid rgba(20, 20, 20, 0.211);
  margin-bottom: 1em;
  background: rgb(20, 20, 20);
  color: aliceblue;
  padding: 2%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.424);
}

.animes-list img {
  width: 20vw;
  max-height: 75vh;
  margin-right: 1vw;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.424);
}

.sinop {
  display: flex;
  text-align: left;
  max-width: 30vw;
  font-size: 0.7em;
  border: 2px solid black;
  background: rgb(20, 20, 20);
  color: aliceblue;
  padding: 5%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.424);
}
